

:root {
    --branco: rgb(5, 35, 100);
    --cor-de-fundo: #aad3ff;
    --fundo-texto: hsl(314, 76%, 89%);
    --borda: #003b7e;

}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}