@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {
    --branco: rgb(5, 35, 100);
    --cor-de-fundo: #aad3ff;
    --fundo-texto: hsl(209, 62%, 72%);
    --borda: #003b7e;
    --roboto: 'Roboto' , sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;

}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
    font-weight: 400;
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}

.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}

.conteudo-senha{
    background: var(--fundo-texto);
    padding: 24px;
    border-bottom: 6px solid var(--borda); 
    margin-top: 80px;
}
#campo-senha{
    background: var(--fundo-texto);
    border:none;
    color: var(--branco);
    font-family: var(--roboto-mono);
    font-size: 40px;
    width: 70%;
}

#campo-senha:focus{
    outline: none;
}

.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}