@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {
    --branco: rgb(5, 35, 100);
    --cor-de-fundo: #aad3ff;
    --fundo-texto: hsl(314, 76%, 89%);
    --borda: #003b7e;
    --roboto: 'Roboto' , sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;

}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

.conteudo-titulo{
    text-align: center;
    margin-top: 400px;
}

.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}